@model SchoolManagementSystem.Models.Entities.StudentPromote

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentPromote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSubmit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSubmit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassTbl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassTbl.ClassTblId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrameSession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrameSession.ProgrameSessionId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.ContactNo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section.SectionId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentPromoteId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
