@model SchoolManagementSystem.Models.Entities.ExamMark

@{
    ViewData["Title"] = "ExamMarks";
}

<h2>Details</h2>

<div>
    <h4>Exam Mark Setting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObtainMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObtainMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassSubject.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exam.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExamMarkId" class="btn btn-success">Edit</a>
    <a asp-action="Index"class="btn btn-default">Back to List</a>
</div>
