@model IEnumerable<SchoolManagementSystem.Models.Entities.Exam>

@{
    ViewData["Title"] = "Exam";
}

<p>
    <a asp-action="Create" class="btn btn-success">Add Exam Types</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Exam Types</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            Created By
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                            </td>
                            <td class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.ExamId" class="btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.ExamId" class="btn btn-info">Details</a>
                                @*<a asp-action="Delete" asp-route-id="@item.ExamId" class="btn btn-danger">Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
