@model IEnumerable<SchoolManagementSystem.Models.Entities.TimeTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Time Table</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>StudentReport</title>
</head>
<body>
    <br /><br /><br />
    <div class="container body-content">
        <h3>Student Time Table</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Teacher
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Day
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        End Time
                    </th>

                    <th>
                        Status
                    </th>
                    <th>
                        Created By
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            Mr/Ms: @Html.DisplayFor(modelItem => item.Staff.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassSubject.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
