@model SchoolManagementSystem.Models.Entities.Staff 
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/image/" + (Model.photo ?? "noImage.jpg") ;
}



<div class="card">
    <div class="card-body">
        <h6 class="text-primary">Employee Details</h6>
        <hr />
        <dl class="row">
            <dd class="col-sm-12">
                <div class="card-body" style="height:150px;width:150px">
                    <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                </div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactNo)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.ContactNo)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasicSalary)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.BasicSalary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Qualification)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Qualification)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HomePhone)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.HomePhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DoYouHaveAnyDisability)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.DoYouHaveAnyDisability)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DisabilityDetails)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.DisabilityDetails)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TakingAnyMedication)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.TakingAnyMedication)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MedicationDetails)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.MedicationDetails)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnyCriminalOffence)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.AnyCriminalOffence)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CriminalOffenceDetails)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.CriminalOffenceDetails)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.RegistrationDate)
            </dd>
            <dt class="col-sm-2">
                Created By
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.ApplicationUser.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Designation)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Designation.Title)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StaffId" class="btn btn-success">Edit</a> 
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>
