@model IEnumerable<SchoolManagementSystem.Models.Entities.Expense>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="btn btn-primary">New Expense</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Expenses Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            ExpenseType
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reason)
                        </th>
                        <th>
                            Created By
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpensesDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpenseType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                            </td>

                            <td class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.ExpenseId" class="btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.ExpenseId" class="btn btn-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.ExpenseId" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
