@model SchoolManagementSystem.Models.Entities.StaffAttendance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StaffAttendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StaffAttendanceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
