@model IEnumerable<SchoolManagementSystem.Models.Entities.StaffAttendance>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-success">Submit Attendance</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Employee Attendance Record</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Employee
                        </th>
                        <th>
                            Attendance Date
                        </th>
                        <th>
                            Check In
                        </th>
                        <th>
                            Check Out
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Staff.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AttendanceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComingTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClosingTime)
                            </td>

                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.StaffAttendanceId">Edit</a> |*@
                                <a asp-action="Details" asp-route-id="@item.StaffAttendanceId" class="btn btn-info">Details</a> 
                                @*<a asp-action="Delete" asp-route-id="@item.StaffAttendanceId">Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
