@model SchoolManagementSystem.Models.Entities.Student

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/image/" + (Model.Photo ?? "noImage.jpg") ;
}


<div class="card">
    <div class="card-body">
        <h6 class="text-primary">Student Details</h6>
        <hr />
        <dl class="row">

            <dd class="col-sm-12">
                <div class="card-body" style="height:200px;width:200px">
                    <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                </div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FatherName)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.FatherName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactNo)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.ContactNo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nationality)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Nationality)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Religion)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Religion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GuardianName)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.GuardianName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GuardianOccupation)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.GuardianOccupation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GuardianPhone)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.GuardianPhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cast)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Cast)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AadharNo)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.AadharNo)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AdmissionDate)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.AdmissionDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PreviousSchool)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.PreviousSchool)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PreviousPercentage)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.PreviousPercentage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Programe)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Programe.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Session)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Session.Name)
            </dd>
            <dt class="col-sm-2">
                Created By
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.ApplicationUser.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClassTbl)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.ClassTbl.Name)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>
